<!doctype html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title>{% block title %}krausgedruckt: 3D-Druck-Dienstleistungen aus Erftstadt{% endblock %}</title>
    {% block meta %}{% endblock %}
    <script type="text/javascript">
        var _paq = window._paq = window._paq || [];
        _paq.push(["disableCookies"]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="https://matomo.marcelkraus.de/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '8']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
</head>
<body class="antialiased">
    {% block nav %}
        {% include 'content/_nav.html.twig' %}
    {% endblock %}
    <main>
        {% block main %}{% endblock %}
    </main>
    {% block footer %}
        {% include 'content/_footer.html.twig' %}
    {% endblock %}
</body>
</html>