<!doctype html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title>{% block title %}krausgedruckt: 3D-Druck-Service in Erftstadt{% endblock %}</title>
    <meta property="description" content="Individueller 3D-Druck-Service und handgemachte Produkte: Du hast die Vision, wir machen sie greifbar!" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://krausgedruckt.de" />
    <meta property="og:title" content="krausgedruckt in Erftstadt bei Köln" />
    <meta property="og:description" content="Individueller 3D-Druck-Service und handgemachte Produkte: Du hast die Vision, wir machen sie greifbar!" />
    <meta property="og:image" content="https://krausgedruckt.de/images/krausgedruckt-logo-sharing.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="krausgedruckt.de" />
    <meta property="twitter:url" content="https://krausgedruckt.de" />
    <meta property="twitter:title" content="krausgedruckt in Erftstadt bei Köln" />
    <meta property="twitter:description" content="Individueller 3D-Druck-Service und handgemachte Produkte: Du hast die Vision, wir machen sie greifbar!" />
    <meta property="twitter:image" content="https://krausgedruckt.de/images/krausgedruckt-logo-sharing.png" />
    {% block meta %}{% endblock %}
    <script type="text/javascript">
        var _paq = window._paq = window._paq || [];
        _paq.push(["disableCookies"]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="https://matomo.marcelkraus.de/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '8']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
</head>
<body class="antialiased">
    {% block nav %}
        {% include 'partials/_nav.html.twig' %}
    {% endblock %}
    <main>
        {% block main %}{% endblock %}
    </main>
    {% block footer %}
        {% include 'partials/_footer.html.twig' %}
    {% endblock %}
</body>
</html>
