<footer class="relative bg-brand-secondary text-white">
    <div class="px-8 pt-16 lg:pt-24 pb-8">
        <h4 class="text-2xl font-semibold mb-8">
            <span class="text-brand-primary">Dein heisser Draht.</span><br/>
            Zu uns.
        </h4>
        <div class="flex flex-wrap text-lg">
            <div class="w-full md:w-1/2">
                <p class="mb-4 md:mb-0">
                    Als Familienbetrieb erreichst du uns am besten asynchron per E-Mail, doch wir freuen uns auch über Postkarten.<br/>
                    <span class="font-semibold">Und Brieftauben.</span>
                </p>
            </div>
            <div class="w-full md:w-1/2 md:text-right">
                <p><span class="block text-lg font-semibold mb-2"><span class="text-brand-primary">kraus</span>gedruckt ist ein Angebot von:</span></p>
                <p>
                    Marcel Kraus<br/>
                    Bonner Straße 88<br/>
                    50374 Erftstadt
                </p>
            </div>
        </div>
        <hr class="my-4 border-white" />
        <div class="flex text-xs">
            <div class="flex-auto font-semibold">
                © {{ 'now' | date('Y') }} <span class="text-brand-primary">kraus</span>gedruckt<br/>
                From Erftstadt, with ♥
            </div>
            <div class="flex-none text-right">
                <a href="{{ path('app_imprint') }}">Impressum</a> &middot; <a href="{{ path('app_data_privacy') }}">Datenschutz</a></a>
            </div>
        </div>
    </div>
</footer>