<nav class="bg-white">
    <div class="container mx-auto p-8">
        <a href="{{ path('app_homepage') }}">
            <h1 class="text-primary font-semibold leading-loose">
                <span class="text-4xl"><span class="text-brand-primary">kraus</span><span class="text-brand-secondary">gedruckt</span></span><br/>
                <span class="text-lg">3D-Druck-Dienstleistungen aus Erftstadt</span>
            </h1>
        </a>
    </div>
</nav>