<nav class="bg-white">
    <div class="container mx-auto p-8">
        <a href="{{ path('app_homepage') }}">
            <h1 class="hidden">krausgedruckt: 3D-Druck-Service in Erftstadt</h1>
            <img src="/images/krausgedruckt-logo.png" class="h-16 max-h-16 md:h-24 md:max-h-24" alt="Logo von krausgedruckt, dem 3D-Druck-Service in Erftstadt" />
        </a>
    </div>
</nav>
