{% extends 'base.html.twig' %}

{% block title %}
    Vielen Dank für deine Anfrage | {{  parent() }}
{% endblock %}

{% block meta %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block main %}
    <section>
        <p>TODO</p>
    </section>
{% endblock %}