<section class="bg-background-primary relative">
    <div class="container mx-auto px-8 py-16 lg:py-24">
        <div class="flex flex-wrap items-start">
            <div class="w-full md:w-6/12">
                <h3 class="text-2xl font-semibold text-brand-primary mb-8">
                    Unser Angebot?<br/>
                    <span class="text-brand-secondary">Vielschichtig.</span>
                </h3>
                <div class="text-base">
                    <p class="mb-4">Mit unserem 3D-Druck-Service bieten wir dir ein umfassendes Angebot für die additive Fertigung. Mit mehreren FDM-Druckern und einem maximalen Bauvolumen von 245 x 245 x 260 mm drucken wir deine 3D-Modelle.</p>
                    <p class="mb-4">Dabei langweilen wir dich weder mit Materialschlachten, noch hauen wir dir Fachbegriffe um die Ohren. Du sagst uns, wofür du dein Produkt benötigst — wir empfehlen dir das passende Material. Ob für ein, zehn oder hundert Exemplare, ist zweitrangig.</p>
                    <p>Neben dem maßgeschneiderten 3D-Service bieten wir darüber hinaus ausgewählte Produkte in unserem Etsy-Shop an, meist binnen weniger Tage verfügbar und zu fairen Preisen.</p>
                </div>
            </div>
            <div class="w-full md:w-5/12 lg:w-4/12 mt-8 md:mt-0 md:mx-auto">
                <div class="w-full flex flex-col min-w-0 break-words bg-white mb-4 shadow-lg rounded-xl">
                    <img class="w-full align-middle rounded-t-lg" src="https://images.unsplash.com/photo-1611505908502-5b67e53e3a76?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
                    <blockquote class="relative text-base p-8">
                        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="absolute left-0 w-full block" style="height: 95px; top: -94px;">
                            <polygon points="-30,95 583,95 583,65" class="fill-white"></polygon>
                        </svg>
                        <h4 class="font-semibold mb-4">
                            <span class="text-brand-primary">Hohe Druckqualität.</span><br/>
                            <span class="text-brand-secondary">Garantiert.</span>
                        </h4>
                        <p>Wir drucken auf Maschinen der Firma Prusa Research, dem Marktführer im Bereich der FDM-Drucker. Damit können wir eine gleichbleibende, hohe Qualität garantieren und unterstützen einen europäischen Hersteller.</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full absolute top-auto bottom-0 left-0 right-0 overflow-hidden h-[100px] mb-[-1px]">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 2560 100" x="0" y="0">
            <polygon class="text-white fill-current" points="2560,0 2560,100 0,100"></polygon>
        </svg>
    </div>
</section>