{% extends 'base.html.twig' %}

{% block title %}
    Kontakt &middot; {{  parent() }}
{% endblock %}

{% block meta %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block main %}
    <section class="bg-brand-primary">
        <div class="container mx-auto px-8 py-16 lg:py-24">
            <div class="flex justify-center">
                <div class="bg-background-primary mshadow-xl p-8 rounded-xl w-full lg:w-2/3 xl:w-1/2">
                    <h2 class="font-semibold mb-4 text-2xl">
                        <span class="text-brand-primary">Du bist klasse!</span><br/>
                        <span class="text-brand-secondary">Danke für deine Nachricht.</span>
                    </h2>
                    <p class="mb-8 text-base">Ich werde mich mit dir so schnell wie möglich in Verbindung setzen.</p>
                    <img class="mx-auto rounded-xl" src="/images/awesome.jpg" alt="Meme: Du bist klasse, und du weisst das!" />
                </div>
            </div>
        </div>
    </section>
{% endblock %}