{% extends 'base.html.twig' %}

{% block title %}
    Kontakt | {{  parent() }}
{% endblock %}

{% block meta %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block main %}
    <section class="bg-brand-primary">
        <div class="container mx-auto px-8 py-16 lg:py-24">
            <div class="flex justify-center">
                <div class="w-full lg:w-2/3 xl:w-1/2 mshadow-xl rounded-xl bg-background-primary p-8">
                    <h2 class="text-2xl font-semibold mb-4">
                        <span class="text-brand-primary">Du bist klasse!</span><br/>
                        <span class="text-brand-secondary">Danke für deine Nachricht.</span>
                    </h2>
                    <p class="text-base mb-8">Ich werde mich mit dir so schnell wie möglich in Verbindung setzen.</p>
                    <img class="rounded-xl mx-auto" src="/images/awesome.jpg" alt="Meme: Du bist klasse, und du weisst das!" />
                </div>
            </div>
        </div>
    </section>
{% endblock %}