{% extends 'base.html.twig' %}

{% block main %}
    <!-- Hero -->

    <section class="absolute bg-[url('/images/prusa-mk4s-with-print-on-black-background--square.jpg')] bg-center bg-cover content-center flex h-[100vh] items-center lg:bg-[url('/images/prusa-mk4s-with-print-on-black-background--wide.jpg')] relative w-full">
        <div class="absolute bg-brand-secondary h-full opacity-75 lg:opacity-0 w-full">
            <span class="absolute h-full w-full"></span>
        </div>
        <div class="container mx-auto px-8 py-16 relative lg:py-24">
            <div class="flex flex-wrap items-center w-full md:w-2/3 lg:w-1/3">
                <div class="text-white">
                    <h1 class="font-semibold leading-tight mb-8 text-4xl md:mb-16">
                        <span class="text-brand-primary">Du hast die Idee.</span><br/>
                        Ich mache sie greifbar!
                    </h1>
                    <div class="text-2xl">
                        <p class="mb-4 md:mb-8">
                            Ich biete dir individuellen 3D-Druck.<br/>
                            Kompetent, zeitnah, bezahlbar.
                        </p>
                        <p>
                            Nicht nur ausgedruckt.<br/>
                            <span class="font-semibold"><span class="text-brand-primary">kraus</span><span class="text-white">gedruckt</span></span>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Introduction -->

    <section class="bg-background-primary">
        <div class="container mx-auto px-8 py-16 lg:py-24">
            <div class="flex flex-wrap items-start">
                <div class="w-full md:w-1/2">
                    <h2 class="font-semibold mb-8 text-4xl text-brand-primary lg:mb-12">
                        Mein Angebot?<br/>
                        <span class="text-brand-secondary">Vielschichtig.</span>
                    </h2>
                    <div class="text-base">
                        <p class="mb-4">Als erfahrener 3D-Druck-Dienstleister biete ich dir maßgeschneiderte Lösungen für die additive Fertigung von Bauteilen aller Art. Egal ob Prototypen, funktionale Teile oder individuelle 3D-Modelle, ich mache deine Idee greifbar und bringe dein 3D-Modell schnell und präzise in die Realität.</p>
                        <p class="mb-4">Dabei verzichte ich auf unnötigen Fachjargon und komplizierte Materialdiskussionen. Du erzählst mir einfach, wofür du dein gewünschtes Teil benötigst, und ich empfehle das optimale Material für deinen 3D-Druck.</p>
                        <p class="mb-4">Ob Einzelstücke, Kleinserien oder größere Stückzahlen, beim 3D-Druck gibt es keine Mindestabnahmemenge. Das macht das Verfahren besonders flexibel und eignet sich perfekt für individuelle Projekte und Prototyping.</p>
                        <p class="mb-4">Zusätzlich zu meinem maßgeschneiderten Service plane ich bald auch eine Auswahl an hochwertigen, handverlesenen 3D-Druck-Produkten zum Direktkauf. Du wählst das Produkt, die Menge und die Farbe, den Rest mache ich.</p>
                        <p>Eine Übersicht meiner veröffentlichten 3D-Modelle: von Zubehör für ferngesteuerte Modellautos über praktische Werkzeuge bis hin zu Ersatzteilen für Fahrzeuge, findest du schon heute in meinem stetig wachsenden <a class="hover:underline text-brand-primary" href="https://www.printables.com/@krausgedruckt">Printables-Profil</a>.</p>
                    </div>
                </div>
                <div class="mt-8 w-full md:mt-0 md:w-1/2 md:pl-8 lg:pl-12">
                    <div class="bg-white break-words flex flex-col min-w-0 rounded-xl shadow-lg w-full">
                        <img class="align-middle rounded-t-xl w-full" src="/images/prusa-core-one-in-workshop--wide.jpg" />
                        <blockquote class="p-8 text-base">
                            <h3 class="font-semibold mb-4 text-xl">
                                <span class="text-brand-primary">Und mein Anspruch?</span><br />
                                <span class="text-brand-secondary">Möglichst nachhaltig.</span>
                            </h3>
                            <p class="mb-4">Als Europäer lege ich großen Wert auf eine Fertigung in Europa. So unterstütze ich aktiv die europäische Wirtschaft und achte auf nachhaltige Produktionswege.</p>
                            <p class="mb-4">Meine 3D-Drucke entstehen ausschließlich auf Druckern der Firma Prusa Research aus Tschechien. Das verwendete Material stammt zum Großteil aus Deutschland (Freren, Emskirchen, Bonn) oder ebenfalls von Prusa Research.</p>
                            <p>Wenn eine bestimmte Farbe oder ein spezielles Material benötigt wird, das nicht in Europa verfügbar ist, weiche ich transparent auf alternative Fertigungsorte aus, um deine Wünsche bestmöglich zu erfüllen.</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Team -->

    <section class="bg-white">
        <div class="container mx-auto px-8 py-16 lg:py-24">
            <h2 class="font-semibold mb-8 text-4xl text-brand-primary lg:mb-12">
                Wer ich bin?<br/>
                <span class="text-brand-secondary">Ein Mann mit vielen Talenten.</span>
            </h2>
            <div class="flex flex-wrap items-start">
                <div class="w-full md:w-1/2">
                    <p class="mb-4">Kurz nachdem ich Mitte 2022 meinen ersten 3D-Drucker gekauft habe, war für mich kein Halten mehr: Ich entdeckte meine Leidenschaft für die additive Fertigung und den 3D-Druck.</p>
                    <p class="mb-4">Mein 3D-Drucker läuft seitdem rund um die Uhr und fertigt Ersatz- und Zubehörteile für <a class="hover:underline text-brand-primary" href="https://www.myknight.de" title="Ich restauriere seit 2014 einen Pontiac Firebird Trans Am und verwandle ihn Stück für Stück in das Wunderauto „K.I.T.T.“ aus der Hit-Serie „Knight Rider“">mein K.I.T.T.-Replika</a> sowie andere Fahrzeuge, Deko-Artikel für meine Frau, Werkzeuge für meine Werkstatt und vieles mehr.</p>
                    <p class="mb-4">Dank über zwanzig Jahren Erfahrung als <a class="hover:underline text-brand-primary" href="https://www.marcelkraus.de" title="Auch im Bereich der Software-Entwicklung bin ich, bereits seit 2004, selbstständig tätig">selbstständiger Software-Entwickler</a> war der weitere Weg klar: eine eigene Internetpräsenz für mein neues Angebot. Daraus entstand <span class="font-semibold"><span class="text-brand-primary">kraus</span><span class="text-brand-secondary">gedruckt</span></span>.</p>
                    <p>Mein Familienhund Lucky sorgt täglich für gute Laune, bewacht Drucker und Material und sorgt auf charmante Weise dafür, dass ich auch mal an die frische Luft komme.</p>
                </div>
                <div class="flex flex-wrap gap-8 justify-center mt-8 w-full md:mt-0 md:w-1/2">
                    <div class="w-full sm:w-auto sm:flex-1">
                        <img src="/images/marcel.jpg" class="mx-auto rounded-full shadow-lg w-48" alt="Marcel Kraus" />
                        <div class="pt-4 text-2xl text-center">
                            <h3 class="font-semibold">Marcel</h3>
                            <p class="text-brand-secondary">Print Boy</p>
                        </div>
                    </div>
                    <div class="w-full sm:w-auto sm:flex-1">
                        <img src="/images/lucky.jpg" class="mx-auto rounded-full shadow-lg w-48" alt="Prinz Lukas von Plüsch" />
                        <div class="pt-4 text-2xl text-center">
                            <h3 class="font-semibold">Lucky</h3>
                            <p class="text-brand-secondary">Good Boy</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
