{% extends 'base.html.twig' %}

{% block main %}
    <!-- Hero -->

    <section class="flex content-center items-center h-[100vh] relative">
        <div class="w-full h-full bg-center bg-cover absolute bg-[url('/images/hero.jpg')]">
            <span class="w-full h-full absolute opacity-75 bg-brand-secondary"></span>
        </div>
        <div class="container mx-auto relative px-8 py-16 lg:py-24">
            <div class="flex flex-wrap items-center w-full md:w-2/3 lg:w-1/3">
                <div class="text-white">
                    <h1 class="text-4xl font-semibold leading-tight mb-8 md:mb-16">
                        <span class="text-brand-primary">Du hast die Vision.</span><br/>
                        Ich mache sie greifbar.
                    </h1>
                    <div class="text-2xl">
                        <p class="mb-4 md:mb-8">
                            Ich biete dir individuelle 3D-Druck-Dienstleistungen:<br/>Kompetent, zeitnah und bezahlbar.
                        </p>
                        <p>
                            Nicht nur ausgedruckt.<br/>
                            <span class="font-semibold"><span class="text-brand-primary">kraus</span><span class="text-white">gedruckt</span></span>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full absolute top-auto bottom-0 left-0 right-0 overflow-hidden h-[100px] mb-[-1px]">
            <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 2560 100" x="0" y="0">
                <polygon class="fill-background-primary" points="2560,0 2560,100 0,100"></polygon>
            </svg>
        </div>
    </section>

    <!-- Introduction -->

    <section class="bg-background-primary">
        <div class="container mx-auto px-8 py-16 lg:py-24">
            <div class="flex flex-wrap items-start">
                <div class="w-full md:w-6/12">
                    <h3 class="text-2xl font-semibold text-brand-primary mb-4">
                        Mein Angebot?<br/>
                        <span class="text-brand-secondary">Vielschichtig.</span>
                    </h3>
                    <div class="text-base">
                        <p class="mb-4">Als 3D-Druck-Dienstleister biete ich dir ein umfassendes Angebot für die additive Fertigung von Bauteilen aller Art. Gerne bringe ich dein 3D-Modell in die Realität!</p>
                        <p class="mb-4">Dabei langweile ich dich weder mit Materialschlachten, noch haue ich dir Fachbegriffe um die Ohren. Du sagst mir, wofür du dein gewünschtes Teil benötigst und ich empfehle dir das passende Material.</p>
                        <p class="mb-4">Ob du anschließend ein, zwei, zehn oder hundert Ausdrucke deines Teils benötigst, ist egal — denn es gibt keine Mindestabnahmemenge.</p>
                        <p class="mb-4">Neben diesem ganz auf dich und deine individuellen Wünsche zugeschnittenen Service plane ich in Zukunft auch eine Reihe handverlesener Produkte zum Direktkauf anzubieten. Du wählst nur das gewünschte Produkt, Menge und Farbe – und der Drucker legt los!</p>
                        <p>Eine kleine Auswahl der von mir erstellten 3D-Modelle – ob Zubehör für ferngesteuerte Modellautos, Werkzeuge oder Ersatzteile für Fahrzeuge – findest du heute bereits in meinem stetig wachsenden <a class="text-brand-primary hover:underline" href="https://www.printables.com/@krausgedruckt">Profil auf Printables</a>.</p>
                    </div>
                </div>
                <div class="w-full md:w-5/12 lg:w-4/12 mt-8 md:mt-0 md:mx-auto">
                    <div class="w-full flex flex-col min-w-0 break-words bg-white mb-4 shadow-lg rounded-xl">
                        <img class="w-full align-middle rounded-t-lg" src="/images/printhead.jpg" />
                        <blockquote class="text-base p-8">
                            <h4 class="font-semibold mb-4">
                                <span class="text-brand-primary">Und mein Anspruch?</span><br/>
                                <span class="text-brand-secondary">Möglichst nachhaltig.</span>
                            </h4>
                            <p class="mb-4">Als Europäer bevorzuge ich natürlich in Europa gefertigte Materialien. Meine Filamente kommen zum großen Teil aus Freren, Emskirchen, Bonn und aus Prag (Tschechische Republik).</p>
                            <p>Manchmal geht es jedoch leider nicht anders, weil eine bestimmte Farbe oder ein bestimmtes Material aus China oder anderen Ländern benötigt wird – in dem Fall weise ich aber transparent darauf hin.</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Team -->

    <section class="bg-white">
        <div class="container mx-auto px-8 py-16 lg:py-24">
            <h2 class="text-2xl font-semibold text-brand-primary mb-4">
                Wer ich bin?<br/>
                <span class="text-brand-secondary">Ein Mann mit vielen Talenten.</span>
            </h2>
            <div class="flex flex-wrap items-start">
                <div class="w-full md:w-1/2">
                    <p class="mb-4">Kurz nachdem ich Mitte 2022 meinen ersten 3D-Drucker angeschafft habe, gab es für mich bereits kein Halten mehr: Das Feuer war erfacht.</p>
                    <p class="mb-4">Der Drucker lief rund um die Uhr, druckte Ersatzteile für <a class="text-brand-primary hover:underline" href="https://www.myknight.de" title="Ich restauriere seit 2014 einen Pontiac Firebird Trans Am und verwandle ihn Stück für Stück in das Wunderauto „K.I.T.T.“ aus der Hit-Serie „Knight Rider“">mein K.I.T.T.-Replika</a> und andere Fahrzeuge, Deko-Artikel für meine Frau, Werkzeuge für meine Werkstatt und vieles mehr.</p>
                    <p class="mb-4">Mit über zwanzig Jahren Erfahrung als <a class="text-brand-primary hover:underline" href="https://www.marcelkraus.de" title="Auch im Bereich der Software-Entwicklung bin ich – bereits seit 2004 – selbstständig tätig">selbstständiger Software-Entwickler</a> war auch der weitere Weg schnell klar – eine Website sollte her – und die Idee für <span class="font-semibold"><span class="text-brand-primary">kraus</span><span class="text-brand-secondary">gedruckt</span></span> geboren.</p>
                    <p>Familienhund Lucky bringt mir dabei täglich gute Laune, bewacht die Drucker samt Materiallager und sorgt auf charmante Weise dafür, dass ich auch mal an die frische Luft komme.</p>
                </div>
                <div class="flex flex-wrap justify-center w-full md:w-1/2 mt-8 md:mt-0">
                    <div class="w-full md:w-1/2 px-32 md:px-8 mb-4 lg:mb-0">
                        <img src="/images/marcel.jpg" class="shadow-lg rounded-full" alt="Marcel Kraus" />
                        <div class="pt-4 text-center text-2xl">
                            <h5 class="font-semibold">Marcel</h5>
                            <p>Print Boy</p>
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 px-32 md:px-8">
                        <img src="/images/lucky.jpg" class="shadow-lg rounded-full" alt="Prinz Lukas von Plüsch" />
                        <div class="pt-4 text-center text-2xl">
                            <h5 class="font-semibold">Lucky</h5>
                            <p>Good Boy</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
