{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    Willkommen.
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-images"></i> Referenzen verwalten
                </div>
                <div class="card-body">
                    <p>Verwalte deine 3D-Druck-Referenzen.</p>
                    <a href="{{ path('admin_reference_index') }}" class="btn btn-primary">
                        <i class="fa fa-images"></i> Referenzen verwalten
                    </a>
                    <a href="{{ path('app_references') }}" class="btn btn-secondary" target="_blank">
                        <i class="fa fa-external-link"></i> Auf Homepage ansehen
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-question-circle"></i> FAQ verwalten
                </div>
                <div class="card-body">
                    <p>Verwalte die häufig gestellten Fragen.</p>
                    <a href="{{ path('admin_faq_entry_index') }}" class="btn btn-primary">
                        <i class="fa fa-question-circle"></i> FAQ verwalten
                    </a>
                    <a href="{{ path('app_faq') }}" class="btn btn-secondary" target="_blank">
                        <i class="fa fa-external-link"></i> Auf Homepage ansehen
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
