{% extends 'base.html.twig' %}

{% block title %}
    Vielen Dank für deine Anfrage | {{  parent() }}
{% endblock %}

{% block meta %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block main %}
    <section class="bg-brand-primary relative">
        <!-- Top Wedge -->

        <div class="w-full absolute top-0 bottom-auto left-0 right-0 overflow-hidden h-[100px] mb-[-1px]">
            <svg class="absolute bottom-t overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 2560 100" x="0" y="0">
                <polygon class="text-white fill-current" points="0,0 0,100 2560,0"></polygon>
            </svg>
        </div>

        <!-- Content -->

        <div class="container mx-auto px-8 py-16 lg:py-24">
            <div class="flex justify-center">
                <div class="w-full lg:w-2/3 xl:w-1/2 mshadow-xl rounded-xl bg-background-primary p-8">
                    <h2 class="text-2xl font-semibold mb-4">
                        <span class="text-brand-primary">Du bist klasse!</span><br/>
                        <span class="text-brand-secondary">Danke für deine Anfrage.</span>
                    </h2>
                    <p class="text-base mb-8">Ich werde mich mit dir so schnell wie möglich in Verbindung setzen.</p>
                    <img class="rounded-xl" src="/images/awesome.jpg" alt="Meme: Du bist klasse, und du weisst das!" />
                </div>
            </div>
        </div>

        <!-- Bottom Wedge -->

        <div class="w-full absolute top-auto bottom-0 left-0 right-0 overflow-hidden h-[100px] mb-[-1px]">
            <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 2560 100" x="0" y="0">
                <polygon class="text-brand-secondary fill-current" points="2560,0 2560,100 0,100"></polygon>
            </svg>
        </div>
    </section>
{% endblock %}