
<div class="flex flex-col text-sm">
    <div class="bg-brand-secondary p-2 rounded-t-md text-background-secondary text-center font-semibold">
        Verwendetes Modell
    </div>
    <div class="bg-white p-2 rounded-b-md text-brand-secondary text-center">
        <a class="font-semibold" href="{{ model.url }}" target="_blank">{{ model.title }}</a><br/>
        Erstellt von {{ model.author }}
    </div>
</div>