
<div class="flex items-center gap-4 text-xs text-brand-secondary uppercase font-semibold">
    <span class="flex-1 border-t border-gray-100"></span>
    <span>Verwendetes 3D-Modell</span>
    <span class="flex-1 border-t border-gray-100"></span>
</div>
<div class="mt-3 text-sm text-center">
    <a class="font-semibold" href="{{ model.url }}" target="_blank">&bdquo;{{ model.title }}&ldquo;</a><br/>
    Erstellt und bereitgestellt von {{ model.author }}
</div>
