
<div class="flex flex-col text-sm">
    <div class="p-2 text-background-secondary bg-brand-secondary text-center font-semibold rounded-t-md">
        Verwendetes Modell
    </div>
    <div class="p-2 text-brand-secondary bg-white rounded-b-md text-center">
        <a class="font-semibold" href="{{ model.url }}" target="_blank">{{ model.title }}</a><br/>
        Erstellt von {{ model.author }}
    </div>
</div>